<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/endGameStyle.css">
    <title>Volte sempre</title>
</head>
<body>
    <header>
        <article id="endTitle">
            <img src="../images/info.svg" alt="Imagem de uma logo de informação">
            <h2>Obrigado por jogar nosso jogo</h2>
            <h1>Intelligence</h1>
        </article>
    </header>
    <main>
        <a href='index.html'>Voltar ao início</a>
    </main>
</body>
</html>